{% extends 'FDPrivateMessageBundle::layout.html.twig' %}

{% trans_default_domain 'FDPrivateMessageBundle' %}

{% block fd_private_message_content %}
<a href="{{ url('fdpm_new_conversation') }}">{{ 'conversation.create.new' | trans }}</a>

<ul>
{% for conversation in conversations %}
    <li>
        <p>
            <a href="{{ url('fdpm_show_conversation', {'conversation': conversation.id}) }}">{{ conversation.subject }}</a> {{ conversation.created | date('Y-m-d H:i:s') }}
        </p>
        <p>
            {{ 'conversation.last_message' | trans }} {{ conversation.lastMessage.created | date('Y-m-d H:i:s') }}
        </p>
        <p>
            <a href="{{ url('fdpm_leave_conversation', {'conversation': conversation.id}) }}">{{ 'conversation.leave' | trans }}</a>
        </p>
    </li>
{% else %}
    <li>
        You have no conversation yet.
    </li>
{% endfor %}
</ul>
{% endblock %}
