{% extends 'FDPrivateMessageBundle::layout.html.twig' %}

{% trans_default_domain 'FDPrivateMessageBundle' %}

{% block fd_private_message_content %}

<h1>{{ conversation.subject }}</h1>

<div>
    {{ 'conversation.recipients' | trans }} :
    {% for recipient in conversation.recipients %}
        {{ recipient.username }}
    {% endfor %}
</div>

<ul>
    {# A conversation MUST have messages #}
    {% for message in conversation.messages %}
        <li>
            <p>{{ message.author }}, {{ message.created | date('Y-m-d H:i:s') }}</p>
            <div>{{ message.body }}</div>
        </li>
    {% endfor %}
</ul>

{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="{{ 'private_message.create.submit' | trans }}">
{{ form_end(form) }}
{% endblock %}